@prefixCls:'dalimao-ui';
@btnPrefix:~'@{prefixCls}-btn';
@spacePrefix :~'@{prefixCls}-space';
@confingProvider:~'@{prefixCls}-configProvider';
//色系

//primary
@dalimao-ui-primary-color:#fff;
@dalimao-ui-primary-bg:#4096ff;
@dalimao-ui-primary-border-color:#4096ff;
@dalimao-ui-primary-darkColor:#184071;
@dalimao-ui-primary-hoverColor:rgba(64, 150, 255 ,.8);

//success
@dalimao-ui-success-color:#fff;
@dalimao-ui-success-bg:#1da034;
@dalimao-ui-success-border-color:#1da034;
@dalimao-ui-success-darkColor:#0d5c1c;
@dalimao-ui-success-hoverColor:rgba(29, 160, 52 ,.8);

//warning
@dalimao-ui-warning-color:#fff;
@dalimao-ui-warning-bg:#d16a41;
@dalimao-ui-warning-border-color:#d16a41;
@dalimao-ui-warning-darkColor:#e35d29;
@dalimao-ui-warning-hoverColor:rgba(209, 106, 65 ,.8);

//danger
@dalimao-ui-danger-color:#fff;
@dalimao-ui-danger-bg:red;
@dalimao-ui-danger-border-color:red;
@dalimao-ui-danger-darkColor:rgb(92, 11, 11);
@dalimao-ui-danger-hoverColor:rgba(255, 0, 0 ,.8);

//default
@dalimao-ui-default-color:#000;
@dalimao-ui-default-bg:#ffff;
@dalimao-ui-default-border-color:#ffff;
@dalimao-ui-default-border-darkColor:rgb(221, 222, 224);

//disabled
@dalimao-ui-disabled-color:#000;
@dalimao-ui-disabled-bg:#f5f5f5;
@dalimao-ui-disabled-border-color:#f5f5f5;

:root{
    --min-color: red;
    --black:#444;
    --bg:pink;
    --light-bg:#61afef;
    --light-color:#666;
    --border:1px solid rgba(0,0,0,.1);
}
//定义多套主题
:root[data-theme='gray']{
    --main-color:gray;
}
:root[data-theme='red']{
    --main-color:gray;
}